.cohort-text {
display: inherit;
border: 3px solid orange
}

.cohort-List {
   
    border: 4px solid rgb(32, 2, 11);
    background-color: #66c2ff5c;
    padding: 3px;
}

section {
    color: teal;
}

.expanded-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
border: 1px dashed green;
background-color: antiquewhite;
}
/* #winter26Date, #winter25Date {
    color: purple;

}

#fall25Date, #fall26Date {
    color: brown;
} 

#spring26Date, #spring25Date {
    color: green;
}

#summer26Date, #summer25Date {
    color: lightsalmon
} */