
/* .cohort-date {
    display: grid;
    grid-template-rows: 20px;
}  */


/* #class-list{
    display: grid;
    grid-template-rows:
} */

#winter26Date, #winter25Date {
    color: purple;

}

#fall25Date, #fall26Date {
    color: brown;
} 

#spring26Date, #spring25Date {
    color: green;
}

#summer26Date, #summer25Date {
    color: lightsalmon
}