* {
    margin: 0;
    padding: 0;
}

html {
    border: 3px solid blue;
    margin: 10px;
    padding: 7px;

}

main {
    display: grid;
    grid-template: "b b a" auto
    "b b c" 3em / 30% 360px 1fr;
}

header {
    background-color: rgba(42, 11, 70, 0.702);
    text-shadow: 1px 2px 11px rgb(103, 188, 234);
    text-align: center;
    color: bisque;
    margin: 20px;
    padding: 10px;
}

span {
    color: blue
}

.Student-Card span {
    color: ivory;
}