* {
    margin: 0;
    padding: 0;
}

html {
    border: 3px solid blue ;
    margin: 10px;
    padding: 7px;
    display:flexbox;
}

h1 {
    text-align: center;
}

.Student {
    align-items: flex-end;
    position: relative;
    float: right;
    background-color: #66c2ff5c;
    padding-left: 3px;
}

